// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.askButton {
  padding-top: 20px;
  font-size: 2em;
  padding-bottom: 30px;
}